.box_description{
  margin: auto;
  width: 50%;
  height: 40vh;
  border: 1px solid white;
  font-style: italic;
  padding: 50px;
  text-align: center;
  font-size: 1.5em;
}
.item-description{
  font-family: 'IsaacScript';
  font-size: 1.5em;
}

.itembox {
  list-style: none;
}

.itemlist{
  padding-top:20px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 50%;
  padding-left: 0;
}

.itembox{
  margin: 3px;
  width: 70px;
  height:70px;
}
.pixel{
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
.itembox img{
  margin: 3px;
  position: center;
  width: 70px;
  height:70px;


}
.itembox:hover{
  background-color: #778899;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
/*background-image: url('../img/modal.svg');*/ 
  background-image:url('../img/modal.svg#svgView(preserveAspectRatio(none slice))');
  background-repeat:no-repeat;
  background-color: transparent;
  background-size: 100% 100%;

  margin: 15% auto; /* 15% from the top and centered */
  padding: 50px;
  width: 50%; /* Could be more or less, depending on screen size */
  max-width: 80%; 
  border:none;/*Bootstrap modal got native border*/

  position: relative;
  animation-name: animatetop;
  animation-duration: 0.4s

}

.modal-title{
  padding-top: 20px;
  padding-left: 20px;
}

.modal-body{
  display: flex;
  align-items: center;
}

.modal-text{
  font-family: 'Lucida Sans';
  padding-left: 15px;
  font-size: 1.5em;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
  }

/* The Close Button */
.close {
  color: #FFF;
  float: right;
  font-size: 80px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-img{
  width: 20%;
  height: auto;

}


/* Responsive*/
@media only screen and ( max-width:970px){
.box_description{
  display:none;
  }
  .modal-content{
    width: 90%;
    max-width: 90%;
  }
  #modal-img{
    display:none
  }

  .itemlist{
    width: 100%;


  }



}