.main_content{
  margin-left: 25%;
  margin-right:25%;
  padding: 60px 10px 10px;

}

.itembox {
  list-style: none;
}

.itemlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itembox{
  margin: 3px;
  width: 70px;
  height:70px;
}
.itembox img{
  margin: 3px;
  width: 70px;
  height:70px;
}
.itembox:hover{
  background-color: white;
}
