.box_description{
  margin: auto;
  width: 50%;
  height: auto;
  border: 1px solid white;
  font-style: italic;
  padding: 50px;
  text-align: center;
}

.itembox {
  list-style: none;
}

.itemlist{
  padding-top:20px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 50%;
}

.itembox{
  margin: 3px;
  width: 70px;
  height:70px;
}
.pixel{
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
.itembox img{
  margin: 3px;
  position: center;
  width: 70px;
  height:70px;


}
.itembox:hover{
  background-color: #778899;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-image: url('../img/modal.svg');
  background-repeat:no-repeat;
  background-color: transparent;
  background-size: 100% 100%;
  display:flex;
  flex-direction: row;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 50px;
  width: 500px; /* Could be more or less, depending on screen size */
  max-width: 80%;
  border:none;/*Bootstrap modal got native border*/
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-img{
  height: auto;
  width: 50px;
}


/* Responsive*/
@media only screen and ( max-width:970px){
.box_description{
  display:none;
  }
}