
@import url("navigation.css");

@font-face {
    font-family: "Upheaval";
    src: url("../font/upheavtt.ttf") format("truetype");
}

body {
    background-image: url('../img/background.png');
    background-attachment:fixed;
    background-position: left top;
   background-size: 100%;
   color : white ;
}

.main_content{
    padding-top: 50px;
}