/*
##################
# Navigation ####
##################
*/
.header{
    height: 100px;
    padding-top:10px;
    z-index: 1000;

}

.logo img{
padding : 0 25px;
float: left;
width: auto;
height:100px;

}

.separator{
    height: 100%;
    min-width:1px;
    background-color: black;
} 


.menu{
    padding-left: 50px;
    height:100px;
    float: left;
    font-family: "Upheaval";
    justify-content: space-around;
    text-align:center;

    background-image: url("../img/bandal.svg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100%;

    font-size: 1em;
    line-height:80px;


    text-align:center;
    color:black
}

.menu>a{
    color:black;
    margin-right:30px;
    margin-left:30px;
    transition:color linear 0.15s;

}

.menu a:hover {
    text-decoration:none;
    color:#55565c;
}




/* Responsive*/
@media only screen and ( max-width:970px){
    .logo img{max-width: 75%;}
    .separator{display:none;}
    .site-container{overflow: hidden;}
    .site-container, .site-pusher{height: 100%}
    .site-pusher{
        transition-duration: 0.3s;
        transform:  translateX(0px);
        min-height: 100vh;
        
    }

    .main_content{
        -webkit-overflow-scrolling: touch;
        top: 100px; /* La hauteur du header */
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
        -webkit-overflow-scrolling: touch; /* Inertie sur iOS */
    }

    .header{
        position:static;
    }

    .header__icon {
        position: relative;
        display: block;
        float: left;
        width: 50px;
        height: 66px;
        cursor: pointer;
        margin-right: 10px;
    }
    .header__icon:after {
        content: '';
        position: absolute;
        display: block;
        width: 1rem;
        height: 0;
        top: 25px;
        left: 20px;
        box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; 
        }

    .menu{
        position: fixed;
        top:0;
        left: 0;
        width:200px;
        background-image: none;
        padding-left: 0;
        transform: translateX(-250px); 
        transition-duration: 0.3s;
        height: 100vh;
    }

    .menu a{
        display:block;
        line-height:73px;
        font-size: 1.5em;
        height: 80px;
        background-image: url("../img/bandal.svg");
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center;
        margin: 0;
        
    }
    
    .menu:first-child{
        padding-top: 20px;
        
    }

    .with--sidebar .site-pusher {
        transform: translateX(250px); 
      }

}



