
.news{

  text-align: center;
  background-image: url('../img/modal.svg');
  background-repeat:no-repeat;
  background-color: transparent;
  background-size: 100% 100%;
  display:flex;
  flex-direction: column;
  padding: 2%;
  border:none;/*Bootstrap modal got native border*/
  margin-left: 25%;
  margin-right: 25%;
}

.new-head{
  padding-top: 25px;

}
.new-title{
  padding-bottom: 30px;
  padding-left: 20px;
}
.new-body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

}


@media only screen and ( max-width:970px){
  .news{
  padding: 10px;
  background-image:none;
  border: antiquewhite solid 3px; 
  }
  
}
