{% extends "layout.html.twig" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/layout.css') }}">
<div class="main_content">
  <h1>Hello Shisheyu ! </h1>
  <h3>Wanna add an item ?   </h3>

  {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
      {{ form_widget(form) }}
  {{ form_end(form) }}
</div>

{% endblock %}
