{% extends "layout.html.twig" %}

{% block content %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/layout.css') }}">
<div class="main_content">
  <h1>Hello Shisheyu ! </h1>
  <h3>What do you want ?  </h3>
  <p> Add an item ?<p>
  <p> Add a News </p>

</div>

{% endblock %}
