/*
##################
# Navigation ####
##################
*/

.menu{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    transition:color linear 0.15s;

}

.logo{
    padding:0;
    width: auto;
    height:100px;
}


 .separator{
    height: 100%;
    min-width:1px;

    background-color: black;
} 


.scroll{
    
padding-left: 100px;
padding-right: 100px;
font-family: "Upheaval";
font-size: 6em;
height:100px;
justify-content: space-around;

background-image: url("../img/bandal.svg");
background-size:contain;
background-repeat:no-repeat;
background-position:center;
background-size: 100%;
line-height:85px;

text-align:center;
color:black
}

/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
    color:white
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
    .menu {
        width:100%;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
    }

}

.menu ul {
    display:inline-block;
}

.menu>ul>li>a{
    color:black;
    margin-right:30px;

}
/* Margin have to be the same here */
.menu li {
    margin:0px 40px 0px 0px;
    float:left;
    list-style:none;
    font-size:17px;
}

.menu li:last-child {
    margin-right:0px;
}

.menu a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    transition:color linear 0.15s;
}

.menu a:hover, .menu .current-item a {
    text-decoration:none;
    color:#66a992;
}



/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}



@media screen and (max-width: 860px) {
    .menu {
        position:relative;
        display:flex;
        flex-direction: column;
    }

    .logo{
      max-width: 50%;
      height: auto;
    }

    .scroll{
        background-image :none;
    }


    .scroll_mini{

    font-family: "Upheaval";
    font-size: 2em;
    height:50px;
    background-image: url("../img/bandal.svg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100%;

    text-align:center;
    color:black
}

    .menu ul.active {
        display:none;
    }

    .menu ul {
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
    }

    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }

    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }

    .menu a {
        display:block;
    }

    .toggle-nav {
        padding:20px;
        float:right;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;

        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:white;
        font-size:20px;
        transition:color linear 0.15s;
    }

    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:white;
    }

}