{% extends "layout.html.twig" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/items.css') }}">
<div class="main_content">
  <h1>Hello Stillbirth</h1>
  <h3>Want to contact us ?</h3>

</div>

{% endblock %}
