{% extends "layout.html.twig" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/items.css') }}">
<div class="main_content">
  <h1>Hello Stillbirth</h1>
  <h3>Some of our items</h3>
  <h3> items in array : <h3>
    <ul class="itemlist" >
      {%for item in itemsList%}
      <li class="itembox">{{item.name}} {{item.description}} <img src="img/sprite/{{item.img}}"> </li>

      {%endfor%}
    </ul>


  </div>

  {% endblock %}
