{% extends "layout.html.twig" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/news.css') }}">


  {%for new in news %}
  <div class="news">
    <div class="new-head">
      <h2 class="new-title">{{new.title}}</h2>
    </div>
    <div class="new-body">
      <p class="new-text">{{new.content}}</p>
      <p class="new-date">post the : {{new.date|date('d-m-Y')}}</p>
    </div>
  </div>

  {%endfor%}

{% endblock %}
