{% extends "layout.html.twig" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/team.css') }}">

  <h1>Credit</h1>
  <div class="credit">
    <div class="person">
      <h3 class="person_title">Lead Director</h3>
      <p class="person_name">Shisheyu Miyamoto</p>
    </div>
    <div class="person">
      <h3 class="person_title">Graphist Designer</h3>
      <p class="person_name">-----</p>
      <p class="person_name">-----</p>
    </div>
    <div class="person">
      <h3 class="person_title">Dev</h3>
      <p class="person_name">----------</p>
      <p class="person_name">----------</p>
      <p class="person_name">----------</p>
    </div>
    <div class="person">
      <h3 class="person_title">Music</h3>
      <p class="person_name">----------</p>
      <p class="person_name">----------</p>
      <p class="person_name">----------</p>
    </div>
    <div class="person">
      <h3 class="person_title">Website</h3>
      <p class="person_name">Julien Solario</p>
    </div>

</div>

{% endblock %}
