<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>Stillbirth</title>
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


</head>

<body>

  <div class="floating">
    <img  class="logo" src="{{ asset('img/stillbirthlogo.png') }}" alt="logo Stillbirth" />
  </div>
  <br/>

  <div class="hallo">
    <img id="isaac" class="isaac_pic" src="{{ asset('img/isaac1.png') }}" alt="Image isaac" />
  </div>

  <nav class="container">

    <div class="button col-lg-5">Items</div>
    <div class="button col-lg-5">News</div>
    <div class="button col-lg-5">Wiki</div>
    <div class="button col-lg-5">Contact</div>

  </nav>


</body>
<script src="{{ asset('js/index.js') }}"></script>

</html>
