{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Page not found</h1>
    <img src="{{ asset('img/deadIsaac.png') }}">
    <p>
        Mom got this page :/
    </p>
        <a href="{{ path('homepage') }}">return to the homepage</a>.

{% endblock %}